@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');


.Container{
    width: 96%;
    position: absolute;
    top: 10vh;
    left: 4vh;
    height: 90vh;
    display: flex;
}

.leftSideContent{
    width: 70%;
    height: 80vh;
    overflow: scroll;
}
.rightSideContent{
    height: 80vh;
    border-left: 0.5px solid rgb(192, 191, 191);
}

.favoriteIconHeart{
    position: relative;
    left: 15%;
    font-size: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.27s;
}
.favoriteIconHeartActive{
    position: relative;
    left: 15%;
    font-size: 25px;
    cursor: pointer;
    color: red;
    transition: all ease-in-out 0.27s;
}

.ADDED{
    position: relative;
    left: 50vh;
    font-size: 25px;
    cursor: pointer;
    color: red;
    transition: all ease-in-out 0.27s;
}
.innerRightSideContent{
    height: 80vh;
    position: relative;
    left: 4%;
    top: 0%;
}

.TitleForEachRecipe{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 15px;
}

.Img{
    width: 65%;
    height: 70%;
    margin: 3vh 0 0 7vh;
    border-radius: 4px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ulSectionForEachRecipeIng{
    margin: 4vh 0 1vh 5vh;
}

.IngredientsTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 25px 0 0 15px;
}

.ulSectionForEachRecipeIng > li {
    font-family: 'Raleway', sans-serif;
    list-style: circle;
    padding-top:7px ;
}

.ContentsTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 25px 0 0 15px;
}

.ulSectionForEachRecipeContents{
    margin: 4vh 0 1vh 5vh;
}

.ulSectionForEachRecipeContents > li{
    font-family: 'Raleway', sans-serif;
    list-style: circle;
    padding-top:7px ;
}


.CaloriesCount{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 25px 0 0 20px;
}

.totalWeightCount{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 15px 0 0 20px;
}

.urlSection{
    margin: 30px 0 0 20px;
    display: flex;
}
.linkReferenceBtn{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 5px 0 0 10px;
    color: #000;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.linkReferenceBtn:hover{
    color: rgb(90, 88, 88);
}
.ServingDone{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 25px 0 0 20px;
}

@media(max-width:440px){
    .ulSectionForEachRecipeIng{
        margin: 4vh 0 1vh 0vh;
    }

    .IngredientsTitle{
        font-size: 20px;
        margin: 25px 0 0 15px;
    }

    .ulSectionForEachRecipeIng > li {
        font-size: 14px;
        padding-top:7px ;
    }

    .ContentsTitle{
        font-size: 20px;
        margin: 25px 0 0 15px;
    }

    .ulSectionForEachRecipeContents{
        margin: 4vh 0 1vh 0vh;
    }

    .ulSectionForEachRecipeContents > li{
        padding-top:7px ;
        font-size: 14px;
    }

    .CaloriesCount{
        font-size: 17px;
        margin: 25px 0 0 10px;
    }

    .totalWeightCount{
        font-size: 17px;
        margin: 15px 0 0 10px;
    }
    .Img{
        height: 40%;
    }
    .urlSection{
        margin: 30px 0 0 10px;
        display: flex;
    }
    .linkReferenceBtn{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        margin: 5px 0 0 10px;
        color: #000;
        text-decoration: none;
        transition: all ease-in-out 0.2s;
    }

    .linkReferenceBtn:hover{
        color: rgb(90, 88, 88);
    }
    .ServingDone{
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        margin: 25px 0 0 10px;
    }

}